export(capwords)
export(colClasses)
export(ggqqplot)
export(knitpost)
export(lakedata)
export(renamefiles)
export(simtraits)
export(timetests)
export(unnest)
export(write_fasta)
import(ggplot2)
import(grid)
import(knitr)
import(plyr)
import(RCurl)
import(reshape)
import(stringr)
import(XML)
importFrom(phytools,fastBM)
