export(colClasses)
export(knitpost)
export(lakedata)
export(renamefiles)
export(simtraits)
export(unnest)
import(knitr)
import(plyr)
import(RCurl)
import(stringr)
import(XML)
importFrom(phytools,fastBM)
