export(colClasses)
export(knitpost)
export(renamefiles)
export(req)
export(simbal)
export(simbaltrees)
export(simtraits)
export(unnest)
import(apTreeshape)
import(ape)
import(bipartite)
import(ggplot2)
import(knitr)
import(plyr)
import(reshape2)
import(stringr)
importFrom(phytools,fastBM)
